<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | Conference Realignment</title>
</head>
<body>

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;position: relative;left: 60%;transform: translateX(-35%);}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:"Galaxie Polaris", sans-serif;font-size:22px;
        overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:"Galaxie Polaris", sans-serif;font-size:22px;
        font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-4r2e{background-color:#517fb9;color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
    .tg .tg-z9od{font-size:18px;text-align:left;vertical-align:top;background-color: rgba(255,255,255,1); color:#000000}
    .tg .tg-h32r{background-color:#ffffff;color:#517fb9;font-size:18px;font-weight:bold;text-align:center;vertical-align:top}
    .tg .tg-3e1p{background-color:#517fb9;color:#ffffff;font-family:"Galaxie Polaris", sans-serif;font-weight:bold;text-align:center;
        vertical-align:top}
    .welcome{position: relative; left: 60%;transform: translateX(-35%);margin-top: 20px; margin-bottom: 20px;}
    .welcome-head{width: 100%; text-align: center; font-family: "Galaxie Polaris", sans-serif; font-weight: 800;font-size: 30px;background: rgba(12, 35, 64, 0.75);
        color:#FFF;padding-top: 10px; padding-bottom: 10px;}
    .welcome-sub{width: 100%; text-align: center; font-family: "Galaxie Polaris", sans-serif; font-weight: 800;font-size: 22px; margin-top: 15px; margin-bottom: 5px; background: rgba(140,140,140,.75);
        color: #ffffff; line-height: 25px;}
</style>
<div class="welcome">
    <div class="welcome-head">Welcome to the NCAA D1 Conference Realignment App!</div>
    <div class="welcome-sub">Here, you'll be able to create the NCAA conferences you've always dreamed of. Tired of your favorite team playing too many tough games? Wish you could compete with your rivals for a conference championship? Sick of seeing your team fly across the country to face a conference foe? With this app, you assume the role of NCAA Comissioner and can make these changes yourself!<br><br>
            A short summary on the tabs and what you'll be able to do:
    </div>
</div>
<table class="tg">
    <thead>
    <tr>
        <th class="tg-3e1p">TAB</th>
        <th class="tg-4r2e">DESCRIPTION</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-h32r">Data</td>
        <td class="tg-z9od">Shows information for every university that competes in Division 1. Use the sorting feature next to column names to order results. Below the column names, you can filter results by typing key words, selecting multiple factors, or narrowing results to a specific range of values.  </td>
    </tr>    
    <tr>
        <td class="tg-h32r">Realignment</td>
        <td class="tg-z9od">Here is where the magic happens. You can click multiple teams at a time and drag them from one conference to another. You can also change the names of conferences by clicking on the conference title and typing. </td>
    </tr>
    <tr>
        <td class="tg-h32r">Output</td>
        <td class="tg-z9od">This tab displays the results of your changes. By scrolling down you can see each new conference you made and the teams that are in them along with their logos.</td>
    </tr>
    <tr>
        <td class="tg-h32r">Map</td>
        <td class="tg-z9od">The map is useful is useful in helping to make geographic decisions for your alignment. Simply start typing in the search bar to reveal a list of conferences. You can select multiple at a time and all of the member teams will be displayed with a color corresponding to their conference.</td>
    </tr>
    <tr>
        <td class="tg-h32r">Summary Table</td>
        <td class="tg-z9od">Here you can see a final summary table of the new conferences you have created. Click the download button below to keep a record of your changes and share with friends!</td>
    </tr>
    </tbody>
</table>
</body>
</html>
